/* :root {
  --project-theme-color: #fff;
} */

body {
  margin: 0;
}

body * {
  transition: all 0.6s ease;
}

h1, h2, h3, h4, h5, span, p, i, li {
  color: var(--text-color); /* white-theme doesn't have --text-color therefore this will have default black color */
}

a {
  text-decoration: none;
  color: var(--anchor-color);
}

/* ko can class nay vi mac dinh la background-color bdau cua toan bo page la primary-color r */
/* .primary-background {
  background-color: var(--primary-background-color);
} */ 

.secondary-background {
  background-color: var(--secondary-background-color);
}

.grid-layout {
  display: grid;
  grid-template-areas: "left-column right-column";
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 3em 30em; */
}

.intro-info {
  grid-template-rows: 32em;
}

.left-column {
  grid-area: left-column;
}

.right-column {
  grid-area: right-column;
}

.center {
  display: grid;
  justify-items: center;
  /* align-items: center; */
  align-content: center;
}

.section-border-bottom {
  border-bottom: 6px solid var(--border-color);
}