.slide-fade-enter-active, 
.fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active, 
.fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to, 
.fade-enter-from, 
.fade-leave-to {
  opacity: 0.2;
}

.slide-fade-enter-from,
.slide-fade-leave-to{
  transform: translateX(40px);
}