:root.teal{
  /* some value that white theme has in default but other themes don't */
  --primary-background-color: #72a597;
  --secondary-background-color: #299b7b;

  background-color: var(--primary-background-color);

  --text-color: #fff;
  --anchor-color: #145e7d;
  --border-color: #ccc;
  
  --preview-shadow-background-color: #548074;

  --skills-list-background-color: #2d4043a6;
  
  --success-notification-background-color:  #2641298c;
  --danger-notification-background-color:  #f53737cc;
  
  --input-color: #4c9480;
}